#editCard {
    display: flex;
    position: relative;
    width: 59%;
    height: 3.5rem;
    background: rgb(252, 251, 251);
    margin: 0 auto;
    border-color: #dadada;
    margin-top: 3px;
}

#editCard:hoover {
    cursor: pointer;
}

#Card {
    text-align: center;
    box-shadow: 1px 1px lightgrey, -0.7em 0 0.5em lightgrey;
}

#deleteButton {
    float: right;
    color: rgb(210, 115, 115);
    margin-right: 3.5%;
    padding: 0%;
    justify-content: right;
    width: 1%;
    min-width: 0px;
    margin-left: 8px;
}

.modalButtons {
    margin: 5% !important;
    color: red !important;
}

#dateInput {
    margin-right: 2%;
}
#Orderby{
    border: 1px solid  lightgrey;
    float:right;
    font-weight: bolder;
}
#noNotes{
    width:30%;
    text-align:center;
    margin-top:3%;
    color:#005fcc;
    display:none;
}