*{
    font-family: sans-serif

}
#navbar{
    /* border-bottom: 1px solid  lightgrey; */
    height: 5rem;
    width: 100%;
    background: white;
    position: relative;
   
    
}
.header{
    position: absolute;
    top: 0%;
    right:0%;
    margin:0 auto;
    height:5rem;
    border-bottom: 1px solid  lightgrey;
}
.header:hover{
    cursor: pointer;
}
.tabs{
    margin: .3% !important;
    cursor: pointer;
    color:black;
    margin-top: 115px;
    font-size: 1.2rem;
    font-family:Times, Times New Roman, serif;
}
.tabs:hover{
    text-decoration: underline;
}

#userName{
    position: relative;
    font-family:Times, Times New Roman, serif;
}
#userInfo{
    font-family:Times, Times New Roman, serif !important;
    border-radius: 10px;
}

.menuIcon {
    width: 35px;
    height: 4px;
    background-color: rgb(154, 154, 154);
    margin: 6px 0;
    border-radius:  25px;
  }

  #navItems{
    width: 95%;
}



  @media screen and (max-width: 899px) {
    #navItems{
        visibility: hidden;
        width: 50%;
    }
  }