#smallScreen {
  transition: border-color 0.15s ease;
}

#smallScreen:focus {
  outline: none;
  border-color: var(--ns-blue) !important;
}

@media screen and (max-width: 758px) {
  #smallScreen {
    margin-bottom: 4%;
  }
}